<link rel="stylesheet" href="./styles/calendar.css"/>

<div class="container">
    <div id="title" class="row">
        <!--<i class="glyphicon glyphicon-triangle-left" style="opacity: 0.5;font-weight: bolder;" onclick="goPrevMonth({{currentMonth}})"></i>-->
        <h1 style="opacity: 0.5;font-weight: bolder;" id="month">#за{{currentMonth.name}}</h1>
        <!--<i class="glyphicon glyphicon-triangle-right" style="opacity: 0.5;font-weight: bolder;"></i>-->
    </div>
    <div class="row row-calendar">
        <ul class="list-group col-md-2">
            <li class="list-group-item">ЛЕГЕНДА</li>
            <li class="list-group-item data-cell-0">ДОНАЦИЈА НА ОБРОЦИ</li>
            <li class="data-cell-1 list-group-item">ДОНАЦИЈА НА НАМИРНИЦИ</li>
            <li class="data-cell-2 list-group-item">СОБИР ЗА ГОТВЕЊЕ</li>

        </ul>
        <table class="col-md-10">
            <thead>
            <tr>
                <th class="calendar-cell">ПОН</th>
                <th class="calendar-cell">ВТО</th>
                <th class="calendar-cell">СРЕ</th>
                <th class="calendar-cell">ЧЕТ</th>
                <th class="calendar-cell">ПЕТ</th>
                <th class="calendar-cell">САБ</th>
                <th class="calendar-cell">НЕД</th>
            </tr>
            </thead>
            <tbody>
            {{#rows}}
               <tr>
                   <div>
               {{#row}}
                   <td class="container calendar-cell data-cell">
                       <div>
                           <div class="row row-date">{{date}}</div>
                        {{#hasEvent realDate}}
                            {{#events}} <!-- za sekoj event pronajden vo baza -->
                                <!-- THIS CELL HAS EVENT -->
                                <div class="row row-data data-cell-{{event.type}}"  data-toggle="modal" data-target="#{{event.id}}">
                                    {{event.place}}, {{event.community}}
                                </div>

                                <!-- Modal -->
                                <div class="modal fade" id="{{event.id}}" role="dialog">
                                    <div class="modal-dialog modal-sm">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title" style="font-weight: bolder;font-size: larger;">Детални информации за настанот:</h4>
                                            </div>
                                            <div class="modal-body">
                                            <span style="font-weight: bolder;">Тип на настан:
                                                {{#getEventType event}}
                                                {{/getEventType}}
                                            </span><br>
                                                <span style="font-weight: bolder;">Време:
                                                    {{event.time}}</span><br>
                                                <span style="font-weight: bolder;">Датум:
                                                    {{event.date}}</span><br>
                                                <span style="font-weight: bolder;">Место:
                                                    {{event.place}}, {{event.community}}, {{event.city}}</span>

                                            </div>
                                        </div>

                                    </div>
                                </div>
                            {{/events}}

                        {{/hasEvent}}
                       </div>
                   </td>

               {{/row}}
                   </div>
               </tr>
            {{/rows}}
            </tbody>
        </table>
    </div>
</div>

