<link rel="stylesheet" href="./styles/gallery.css"/>

<div class="rows">
    <h1 style="opacity: 0.5;">#ретвитниГалерија</h1>
</div>

<div id="columns">

    {{#images}}
        <figure>
            <img src="{{src}}" data-toggle="modal" data-target="#{{@index}}">
            <figcaption>{{text}}</figcaption>
        </figure>
        <!-- Modal -->
        <div class="modal fade" id="{{@index}}" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">{{text}}</h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{src}}" style="max-width: 100%;max-height: 100%;">
                    </div>
                </div>

            </div>
        </div>
    {{/images}}



</div>
</div>